:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  padding-top: 80px;
}

.header {
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  z-index: 999;
}

.header-content {
  width: 75%;
  max-width: 1200px;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
}

.logo img {
  height: 2.5rem;
  width: auto;
}

#logo-text {
  font-size: 2rem;
  font-weight: 900;
}

.navs {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--link-color);
}

#contact-btn {
  height: 2.5rem;
  width: 7rem;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;

  border: none;
  border-radius: 0.5rem;

  color: white;
  background-color: var(--primary-color);

  transition: all 0.2s ease;
}

#contact-btn:hover {
  background-color: var(--accent-color);
}


