* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
  border: 10px solid black;
  background: rgb(152, 144, 144);

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);

  /* justify-items: center;
  align-items: center; */

  place-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  /* will work when height and width isnot defined */

  /* For Horizontal Axis */
  /* justify-self: stretch;  */

  /* For Vertical Axis */
  /* align-self: center; */

  /* For Vertically and horizontally both */
  /* place-self: center; */

  height: 100px;
  width: 100px;
  background: rgb(225, 154, 154);
  border: 5px solid black;
}
